@charset "EUC-KR";

* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	margin-left: 20px;
}

#com-grid {
	border-top: 1px solid #D2d2d2;
	display: grid;
	width: 1200px;
	margin: 0 auto;
	grid-template-rows: 60px 45px 45px 1fr;
	grid-template-columns: 100%;
}

#login {
	border-top: 2px solid #004FA8;
	border-bottom: 2px solid #004FA8;
	display: grid;
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	grid-template-columns: 150px 1fr 77px;
}

#id, #pw {
	width: 150px;
	height: 40px;
	font-size: 15px;
	padding-left: 10px;
}

#id {
	margin: 10px 0 1px;
}

#comment-grid {
	display: grid;
	width: 1200px;
	grid-template-columns: 100px 1fr 60px 60px;
	border-top: 1px solid #D2d2d2;
}

#comment-grid > div {
	border-bottom: 1px solid #D2d2d2;
	font-size: 15px;
	display: flex;
	align-items: center;
	padding: 10px;
}

#comment-grid > div.comment_id {
	text-align: center;
	font-weight: bold;
	justify-content: center;
}

#comment-grid > div.comment {
	padding-left: 10px;
}

#view-grid {
	border-top: 1px solid black;
	display: grid;
	width: 1200px;
	height: 520px;
	margin: 0 auto;
	grid-template-rows: 60px 45px 45px 1fr;
	grid-template-columns: 100%;
}

#view-grid > * {
	border-bottom: 1px solid #D2d2d2;
	padding-left: 20px;
}

#title {
	display: flex;
	align-items: center;
	font-size: 26px;
	font-weight: bold;
}

#user_id {
	display: grid;
	grid-template-columns: 178px 1fr;
}

#user_id > * {
	display:flex;
	align-items: center;
}

#views {
	display: grid;
	grid-template-columns: 178px 1fr;
}

#views > * {
	display:flex;
	align-items: center;
}

#content {
	padding: 20px;
	margin-left: 20px; 
}

#back {
	border: 0;
	outline: 0;
	margin-top: 20px;
	margin-left: 78%;
	margin-bottom: 25px;
	width: 67px;
	height: 40px;
	background-color: #004FA8;
	color: white;
}

#com_word {
	margin: 10px;
	padding: 15px;
	resize: none;
	font-size: 15px;
}

#submit {
	border: 0;
	outline: 0;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 77px;
	height: 40px;
	background-color: #004FA8;
	color: white;
}

#remake-btn, #delete-btn {
	border: 0;
	border-top: solid 1px #d2d2d2;
	outline: 0;
	background-color: #004FA8;
	color: white;
}

#remake-btn {
	border-right: 1px solid white;
}

#remake-btn:hover, #delete-btn:hover, #submit:hover, #back:hover {
	cursor: pointer;
}
