@charset "EUC-KR";

* {
	box-sizing: border-box;
}

#post-grid {
	width: 600px;
	display: grid;
	grid-template-columns: 7% 30% 20% 10% 1fr 1fr;
	border: 2px black solid;
}

#post-grid > div {
	text-align: center;
	border: 1px black solid;
}
